{% extends 'App_Blog/index.html' %}
{% load static %}

{% block cuerpo %}
<br>
<img src="https://i.postimg.cc/3Jtnwpvx/logo-AG.png" width="300" align="right">
<center>
    <p style="height:50; font-size:60pt;"><b>Agustín Gugliuzza Piccinini</b></p>
    <p style="height:50; font-size:25pt;">HR, Finance & BI Team Lead at <b>Prudential Seguros S.A.</b></p>
</center>
<br><br>
<p style="height:50; font-size:12pt;">
    Born in the city of <b>Veracruz, Mexico</b> on April 9<sup>th</sup>, 1995. Lived in that city until November, 2003 when I moved to my current home in Buenos Aires. 
    <br><br>
    <!--<img src="https://i.postimg.cc/B6XXxjZs/Las-mejores-zonas-donde-alojarse-en-Veracruz-Mexico.jpg" width="300">-->
    <br><br>
    Studied in the <b>Buenos Aires Technological Institute (ITBA)</b> from 2013 until I got my degree in <b>Business & Systems Administration</b> in 2017.
    I have worked as a <b>Business Intelligence Consultant</b> for MicroStrategy Inc. from 2017 until 2022, and now I am working as a <b>Human Resources, Finance and Business Intelligence Team Leader</b> at Prudential Seguros.
    <br><br>
    <!--<img src="https://i.postimg.cc/g0LC8d9Q/itba-logo-2000x664.png" width="150">
    <img src="https://i.postimg.cc/t4xkzgT3/small-logo.png" width="150">-->
    <br><br>
    Regarding my personal interests and hobbies, I really like <b>outdoor activities</b> and love playing <b>soccer</b> with my friends. I am currently playing two tournaments during the weekends and training 4 times a week. 
    <br><br>
    <!--<img src="https://i.postimg.cc/GmwGdxLD/monumental.jpg" width="300">-->
    <br><br>
    When being home, I play 2 musical instruments: <b>piano and guitar</b>, and I am planning to start playing the sax soon.
    <br><br>
    <!--<img src="https://i.postimg.cc/v8PwJ0vP/image.jpg" width="300">-->
    <br><br>
</p>
{% endblock %}