{% extends 'App_Blog/index.html' %}
{% load static %}

{% block cuerpo %}

    <header class="masthead">
        <div class="container position-relative">
            <div class="row justify-content-center">
                <div class="col-xl-6">
                    <div class="text-center text-white">
                        <img src="https://res.cloudinary.com/hdsqazxtw/image/upload/v1579032128/coder-logo-white_t41xzb.png" alt="Logo de CoderHouse" height="140"><br><br>
                        <h2>Welcome to CoderHouse's Blog!</h2><br>
                        <p style="font-size:larger">To navigate between the different contents, please use the navigation bar on top of the page.</p>
                        
                    </div>
                </div>
            </div>
        </div>
    </header>
{% endblock %}