<!DOCTYPE html>
<html lang="en">
    <head>
        {% load static %}
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="Template Page for AppBlog" />
        <meta name="author" content="Agustín Gugliuzza" />
        
        <title>CoderHouse Blog</title>

        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" type="text/css" />
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{% static 'App_Blog/css/styles.css' %}" rel="stylesheet" />
    </head>
    

    <!--BARRA DE NAVEGACIÓN (VA SEGÚN LOGUEADO O NO LOGUEADO)-->

    <body>
        <nav class="navbar navbar-dark bg-dark static-top">
            <div class="container">
                <img src="https://jobs.coderhouse.com/assets/logos_coderhouse.png" alt="Logo de CoderHouse" height="35">
                
                                
            <div class="navigation">
                <ul>
                    
                    <li class="list">
                        <a href="{% url 'homepage' %}">
                            <span class="icon"><ion-icon name="planet-outline"></ion-icon></span>
                            <span class="text">Home</span>
                        </a>
                    </li>

                    <li class="list">
                        <a href="{% url 'about' %}">
                            <span class="icon"><ion-icon name="information-circle-outline"></ion-icon></span>
                            <span class="text">Author</span>
                        </a>
                    </li>
                    
                    <!-- SOLO LAS VEN LOGUEADO -->
                    {% if user.is_authenticated %}
                    <li class="list">
                        <a href="{% url 'notas_list' %}">
                            <span class="icon"><ion-icon name="newspaper-outline"></ion-icon></span>
                            <span class="text">Blog</span>
                        </a>
                    </li>
                    
                    <li class="list">
                        <a href="{% url 'user_profile' user.id %}">
                            <span class="icon"><ion-icon name="person-circle-outline"></ion-icon></span>
                            <span class="text">Profile</span>
                        </a>
                    </li>
                    
                    <li class="list">
                        <a href="{% url 'user_logout' %}">
                            <span class="icon"><ion-icon name="close-circle-outline"></ion-icon></span>
                            <span class="text">Logout</span>
                        </a>
                    <!--</li>
                    <li class="list">
                        <img height="40" src="{{object.avatar_set.first.image.url}}"/>
                    </li>-->
                    
                    {% else %}
                    
                    <!-- SOLO LAS VEN DESLOGUEADOS -->
                    <li class="list">
                        <a href="{% url 'user_login' %}">
                            <span class="icon"><ion-icon name="log-in-outline"></ion-icon></span>
                            <span class="text">Login</span>
                        </a>
                    </li>
                    <li class="list">
                        <a href="{% url 'user_signup' %}">
                            <span class="icon"><ion-icon name="person-add-outline"></ion-icon></span>
                            <span class="text">Sign-Up</span>
                        </a>
                    </li>
                    
                    {% endif %} 
                    
                </ul>
            </div>
    
            </div>
        </nav>
        


        
        {% block cuerpo %}
        {% endblock %}
        
               
        <!--ION Icons-->
        <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    




        <footer class="footer bg-dark">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 h-100 text-center text-lg-start my-auto">
                        <ul class="list-inline mb-2">
                            <li class="list-inline-item"><a href="https://plataforma.coderhouse.com">CoderHouse</a></li>
                            <!--<li class="list-inline-item">⋅</li>-->
                            <li class="list-inline-item"><a href="https://github.com/agusgugliu">GitHub</a></li>
                            <!--<li class="list-inline-item>">⋅</li>-->
                            <li class="list-inline-item" style="color:beige">{% now 'd/m/Y' %}</li>
                            <li class="list-inline-item" style="color:beige">{{user.username}}</li>
                            

                    </div>
                    <div class="col-lg-6 h-100 text-center text-lg-end my-auto">
                        <ul class="list-inline mb-0">
                            <li class="list-inline-item me-4">
                                <a href="https://www.facebook.com/agusgugliuzza/"><i class="bi-facebook fs-3"></i></a>
                            </li>
                            <li class="list-inline-item me-4">
                                <a href="https://twitter.com/agusgugliuzza"><i class="bi-twitter fs-3"></i></a>
                            </li>
                            <li class="list-inline-item">
                                <a href="https://www.instagram.com/agusgugliuzza/"><i class="bi-instagram fs-3"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>

    </body>
</html>