{% extends 'App_Blog/index.html' %}
{% load static %}

{% block cuerpo %}
<br>
&nbsp;&nbsp;&nbsp;

<a href="{% url 'notas_list' %}">
    <span class="icon"><ion-icon name="arrow-back-circle"></ion-icon></span>
    <span class="text">Back to Blog</span>
</a>

<br><br>

<div>
    <p style="font-size:30pt;"><u><b>{{object.titulo}}</b></u></p>
    <p style="font-size:22pt;"><b>{{object.subtitulo}}</b></p>
    <p style="font-size:16pt;"><b>Author: </b>{{object.autor}}</p>
    <p style="font-size:16pt;"><b>Date: </b>{{object.fecha}}</p>
    <p style="font-size:14pt;">{{object.cuerpo}}</p>
</div>

<br><br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;


<br><br>

{% endblock %}