{% extends 'App_Blog/index.html' %}
{% load static %}

{% block cuerpo %}
    <br><br>    
    <form method="POST">
        {% csrf_token %}
        {{form.as_p}}
        <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <button type="submit">&nbsp;&nbsp;&nbsp;Login&nbsp;&nbsp;&nbsp;</button>
    </form>
    <br><br>
    
    
    
    <p style="color:grey;">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        If you don't currently have a <b>User</b>, please <strong><a href="{% url 'user_signup' %}">create one here</a></strong>.
    </p>
    
    <br><br>

{% endblock %}