{% extends 'App_Blog/index.html' %}
{% load static %}

{% block cuerpo %}

<br>
&nbsp;&nbsp;&nbsp;

<a href="{% url 'homepage' %}">
    <span class="icon"><ion-icon name="home"></ion-icon></span>
    <span class="text">Back to Home</span>
</a>

<br><br>

&nbsp;&nbsp;&nbsp;
<img height="150" src="{{object.avatar_set.first.image.url}}"/>
<br><br>

<ul>
    
    <li><strong>Username:</strong> 
        &nbsp;&nbsp;&nbsp;
        {{object.username}}
    </li>
    <li><strong>First Name:</strong> 
        &nbsp;&nbsp;
        {{object.first_name}}
    </li>
    <li><strong>Last Name:</strong> 
        &nbsp;&nbsp;
        {{object.last_name}}
    </li>
    <li><strong>E-Mail:</strong>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        {{object.email}}
    </li>
    
</ul>

<br><br>
&nbsp;&nbsp;&nbsp;

<a href="{% url 'user_edit' user.id %}">
    <span class="icon"><ion-icon name="create"></ion-icon></span>
    <span class="text">Edit Profile</span>
</a>

<br>
&nbsp;&nbsp;&nbsp;

<a href="{% url 'add_avatar' %}">
    <span class="icon"><ion-icon name="images"></ion-icon></ion-icon></span>
    <span class="text">Add Avatar</span>
</a>

<br><br>

{% endblock %}